<%- include('../partials/questions/doctypehead') %>
    <div class="content">
      <%- include('../partials/questions/6') %>
      <div class="box answer">
        <h3>Answer</h3>
        <p>No answer required here...</p>
        <h3>This works!</h3>
      </div>
    </div>
  </div>
</body>
