<%- include('../partials/questions/doctypehead') %>
    <div class="content">
      <%- include('../partials/questions/6') %>
      <div class="box answer">
        <h3>Answer</h3>
        <p>No answer required here...</p>
        <h3>This works!</h3>
        <h4>Back to question 5</h4>
        <a href="/question5">Question 5</a>
        <h4>Onto to Question 7</h4>
        <a href="/question7">Question 7</a>
      </div>
    </div>
  </div>
</body>
