<!DOCTYPE html>
<head>
  <title>Node: Workshop 2</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 2</h1>
  </header>
  <div class="main">
    <h2>Part 2</h2>
    <div class="content">
      <%- include('../partials/questions/9') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p>No answer required here...</p>
        <h4>Back to question 8</h4>
        <a href="/question8">Question 8</a>
        <h4>Onto to Question 10</h4>
        <a href="/question10">Question 10</a>
      </div>
    </div>
  </div>
</body>
