<!DOCTYPE html>
<head>
  <title>Node: Workshop 2</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 2</h1>
  </header>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/4') %>
      <div class="box answer">
        <h3>Answer</h3>
        <li> <%- topThree[0] %></li>
        <li> <%- topThree[1] %></li>
        <li> <%- topThree[2] %></li>
        <!-- render answer here -->

        <!-- For this exercise, create a list and use %- to output the information from the exercises folder. Since it's an array make sure to fo [x] to select from it.-->
      </div>
    </div>
  </div>
</body>
