<%- include('../partials/questions/doctypehead') %>
  <div class="main">
    <h2>Part 2</h2>
    <div class="content">
      <%- include('../partials/questions/7') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p>No answer required here...</p>
        <h3>Used the partial I created from question 6 which contains everything up until the class</h3>
        <h4>Back to question 6</h4>
        <a href="/question6">Question 6</a>
        <h4>Onto to Question 8</h4>
        <a href="/question8">Question 8</a>
      </div>
    </div>
  </div>
</body>
